<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">Maistore Maistore</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/workers">Workers</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/projects">Projects</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']"><a *ngIf="!(firebaseUser$ | async)?.uid" routerLink="/login">Login</a></li>
        <li [routerLinkActive]="['active']"><a *ngIf="!(firebaseUser$ | async)?.uid" routerLink="/register">Register</a></li>
        <li *ngIf="(firebaseUser$ | async)?.uid" class="dropdown">
          <a href="#" class="dropdown-toggle" *ngIf="(firebaseUser$ | async)?.uid" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{(ourUser$ | async)[0].name}} ({{(firebaseUser$ | async)?.email}}) <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a routerLink="/profile">Profile</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/logged-worker-projects">My Projects</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="doLogout()" routerLink="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
