<p>
  project works! Project id: {{projectId}}
</p>

<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='projectId;else no_results'>
                <thead>
                    <tr>
                        <th>Id</th> <!-- for testing only -->
                        <th>Project Name</th>
                        <th>Worker</th>
                        <th>Competencies</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{projectId}}</td>
                        <td>{{project.name}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <ng-template #no_results>No such user</ng-template>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
