<div class='panel panel-primary'>
    <div class="panel-heading">Worker {{(worker$ | async).name }}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div *ngFor="let competency of (competencies$ | async)" type="checkbox">
                    <label>
        <input type="checkbox" [value]="competency.name" disabled [checked]="checkedCompetencies[competency.name]">
            {{competency.name}}
        </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div>
                    <img [src]="(worker$ | async).picUrl || 'assets/worker.png'" alt="Worker picture" class="img-rounded img-responsive">
                </div>
                <div>
                    Average rating: {{(worker$ | async).userRatings | rating}}
                </div>
                <div>
                    <select class="form-control" name="rating" id="rating">
                        <option value="not-rated">Not rated</option>
                        <option value="1">Rate 1</option>
                        <option value="2">Rate 2</option>
                        <option value="3">Rate 3</option>
                        <option value="4">Rate 4</option>
                        <option value="5">Rate 5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <table class='table-responsive' *ngIf='((worker$ | async).completedProjects | keys).length > 0;else no_results'>
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>competencies</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let projectKeyValue of (worker$ | async).completedProjects | keys;'>
                        <td><a href='edit-worker-project/{{projectKeyValue.value.id}}'>{{projectKeyValue.value.name}}</a></td>
                        <td>
                            <div class='row' *ngFor='let competencyKeyValue of (projectKeyValue.value.competencies | keys)'>
                                <div class='col-md-4'>{{competencyKeyValue.value.name}}</div>
                            </div>
                        </td>
                        <td>{{projectKeyValue.value.userRatings | rating }}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #no_results>
                <div>Worker doesn't have any projects yet</div>
            </ng-template>
        </div>
    </div>
</div>