<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='workerId;else no_results'>
                <thead>
                    <tr>
                        <th>Id</th> <!-- for testing only -->
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Competencies</th>
                        <th>Projects</th>
                        <th>Rating</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{workerId}}</td>
                        <!-- <td><img src='{{worker.picUrl}}' class='grid-image' /></td> -->
                        <td>{{worker.name}}</td>
                        <!-- <td>
                          <div class='row' *ngFor='let competencyKeyValue of (project.competencies | keys); let i = index'>
                            <div class='col-md-4'>{{competencyKeyValue.value.name}}</div>
                          </div>
                        </td>
                        <td>{{project.userRatings[0].rating }}</td> -->
                        <td>{{worker.email}}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #no_results>No such user</ng-template>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
