<p>
  Add filters here
</p>

<div class='panel panel-primary'>
    <div class='panel-body'>
        <div>
            <table class='table-responsive' *ngIf='(workers$ | async);else no_results'>
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Competencies</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let worker of workers$ | async'>
                        <td>
                          <img appPictureBringFront src='{{worker.picUrl}}' class='grid-image' style="max-width: 128px;" />
                        </td>
                        <td><a [routerLink]="[ '/workers', worker.userId ]">{{worker.name}}</a></td>
                        <td>
                            <div class='row' *ngFor='let competency of worker.competencies'>
                                {{competency.name}}
                            </div>
                        </td>
                        <td>
                            {{worker.userRatings | rating}}
                        </td>
                </tbody>
            </table>
            <ng-template #no_results>No results found</ng-template>
        </div>
    </div>
</div>
