<p>
  Add filters here
</p>

<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='(projects$ | async);else no_results'>
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Worker</th>
                        <th>competencies</th>
                        <th>Images</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let project of (projects$ | async);'>
                        <td><a [routerLink]="[ '/public/projects', project.id ]">{{project.name}}</a></td>
                        <td>
                            <a [routerLink]="[ '/public/workers', project.workerId ]">
                                {{(getWorker(project.workerId) | async).name}}
                            </a>
                        </td>
                        <td>
                            <div class='row' *ngFor='let competencyKeyValue of (project.competencies | keys); let i = index'>
                                <div class='col-md-4'>{{competencyKeyValue.value.name}}</div>
                            </div>
                        </td>
                        <td><img appPictureBringFront *ngIf="project.picturePaths && project.picturePaths.length > 0" src='{{project.picturePaths[0]}}' class='grid-image' /></td>
                        <td>{{project.userRatings | rating}}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #no_results>No results found</ng-template>
        </div>
    </div>
</div>
